.flex-row {
	display: flex;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.container {
	width: 90%;
	padding: 0;
	margin: 0 auto 100px auto;
}

.about {
	height: 100%;
	width: 100%;
	/*border-right: 1px solid $green;*/
	margin: 0;
	float: left;
	p {
		margin: 0;
		/*border-bottom: 1px solid $green;*/
		padding: 50px;
	}
	ol {
		padding: 10px 0px 10px 100px;
		margin: 0; 
	}
}

.headshot {
	max-width: 300px;
    height: auto;
    /* float: left; */
    padding-top: 50px;
    display: block;
    margin: 0 auto 100px auto;
}

.ab-head {
	padding: 0;
}

@media (min-width: 760px) { 
	.about {
		width: 60%;
	}
	.headshot {
		max-width: 400px;
    	margin: 0 auto;
	}
	.container {
		margin: 0 auto;
	}
}
